*{
    margin: 0;
}
body{
    font-size: 16px;
}
div{
    display: flex;
}
section>h2{
    position: absolute;
    top: 0;
}
section{
    position: relative;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 2em;
    justify-content: center;
    height: 90vh;
    width: 100%;
}


/* ***************menu********** */
section.menu{
    background: linear-gradient(180deg, #ffa8dc, #8b73ff);
}
div.menu{
    width: 75vw;
    margin: auto;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    
}
div.menu div{
    font-size: .75em;
    box-shadow: .15em .18em .25em black;
    border-radius: 10px;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: .8em;
}
ul{
    padding: 0;
    list-style-type: none;
}
li{
    margin: 0.5em;
}


/* ************envio************** */
section.envio{
    background: linear-gradient(360deg, #ffa8dc, #8b73ff);
}
label{
    font-size: .6em;
}
div.form{
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
    column-gap: 10vw;
    box-shadow: .15em .18em .25em black;
    border-radius: 10px;
    padding: 0 .5em .5em;
}
div.form-pastel{
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 5vw;
    align-items: stretch;
}
div.form-pastel>div{
    display: block;
}
div.form-datos{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/************input*************/
.input-form{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}
.label-form{
    font-size: .5em;
    cursor: text;
    position: relative;
    top: -1.7rem;
    transform: translateY(.62rem);
    transition: transform .5s color .3s;
}
.input-form:not(:placeholder-shown){
    color: #000;
}
.input-form:not(:placeholder-shown) + .label-form{
    transform: translateY(-.25rem) scale(.7);
    transform-origin: left top;
    color: #000;
} 

/********responsive*********/
@media (max-width: 500px) {
    body{
        font-size: 12px
    }
    
}
@media (max-width: 550px) and (min-width: 500px) {
    body{
        font-size: 14px
    }
    
}
