/* header con nav*/
html{
    height: auto;
    min-height: 100%;
}
*{
    margin: 0;
}
body{
    font-size: 16px;
}
h2.titulo{
    position: absolute;
    top: 0;
}
header{
    position: sticky; 
    top: 0;
    left: 0;
    background-color: #f8eafff7;
    z-index: 1000;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
a.barnav{
    text-decoration: none;
}
li{
    margin: 0.5em;
}
li.barnav{
    display: inline;
    padding-right: .5em;
}
img.logo{
    height: 10vh;
}
section{
    position: relative;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 2em;
    justify-content: center;
    height: 90vh;
    width: 100%;
}
/* ***************menu********** */
section.menu{
    background: linear-gradient(180deg, #ffa8dc, #8b73ff);
}
div.menu{
    display: flex;
    width: 75vw;
    margin: auto;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;

}
ul{
    padding: 0;
    list-style-type: none;
}
div.lista-menu{
    font-size: .75em;
    box-shadow: .15em .18em .25em black;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: .8em;
}
/* ************envio************** */
section.envio{
    background: linear-gradient(360deg, #ffa8dc, #8b73ff);
}
div.formulario{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
    column-gap: 10vw;
    box-shadow: .15em .18em .25em black;
    border-radius: 10px;
    padding: 0 .5em .5em;
}
div.seleccion-pastel{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 5vw;
    align-items: stretch;
}
label{
    font-size: .6em;
}
ul.seleccion-formulario{
    margin: -16px;
    display: block;
    padding: -15px;
}
li.seleccion-formulario{
    margin: 0px;
}
.form-datos-envio{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
/* **********footer********** */
footer{
    position: relative;
    top: 0;
    background: linear-gradient(180deg, #f8eaff, #edd0fd);
    height: 10em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
div.div-footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
/************input*************/
.input-form{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}
.label-form{
    font-size: .5em;
    cursor: text;
    position: relative;
    top: -1.7rem;
    transform: translateY(.62rem);
    transition: transform .5s color .3s;
}
.input-form:not(:placeholder-shown){
    color: #000;
}
.input-form:not(:placeholder-shown) + .label-form{
    transform: translateY(-.25rem) scale(.7);
    transform-origin: left top;
    color: #000;
} 
@media (max-width: 500px) {
    body{
        font-size: 12px
    }
    
}
@media (max-width: 550px) and (min-width: 500px) {
    body{
        font-size: 14px
    }
    
}
